.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
.no-expenses{
  padding: 1rem;
  color: rgb(195, 196, 198);
  font-weight: lighter;
  font-style: italic;
  display: flex;
  justify-content: center;
}